@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-style: normal;
  align-items: center;
  color: darkslategray;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-style: normal;
  background-color: lightgray;
  text-align: center;
}

p {
  background-color: none;
}

section {
  border: 1px solid black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav ul li:hover {
  background-color: darkgray;
  padding: 5px;
  border-radius: 15px 0;
}
